<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>     </configSections>
	<!-- Chaine de connexion définie pour la connexion à la BD-->
	<connectionStrings>
		<add name="Utilisateur" connectionString="Data Source=PCVM-BTS;Initial Catalog=AdministrationDECLIC;Integrated Security=True"    providerName="System.Data.SqlClient" />
		<add name="DeclicGUI.Properties.Settings.GestionCommercialesConnectionString"    connectionString="Data Source=PCVM-BTS;Initial Catalog=GestionCommerciales;Integrated Security=True"    providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>